{% extends 'bootstrap.html' %}
{% block body %}
<div class="container">
  <h2>Update Student Detials</h2>
<form method="post" xmlns="http://www.w3.org/1999/html">
  {% csrf_token %}
<div class="form-outline mb-4">
    <input type="text" id="tbfname" name="tbfname" class="form-control" value="{{data.fname}}" />
    <label class="form-label" for="tbfname">FirstName</label>
  </div>
  <div class="form-outline mb-4">
    <input type="text" id="tblname" name="tblname" class="form-control" value="{{data.lname}}" />
    <label class="form-label" for="tblname">LastName</label>
  </div>
  <div class="form-outline mb-4">
    <input type="email" id="tbemail" name="tbemail" class="form-control" value="{{data.email}}"/>
    <label class="form-label" for="tbemail">Email</label>
  </div>
  <div class="form-outline mb-4">
    <input type="text" id="tbmobile" name="tbmobile" class="form-control" value="{{data.mobile}}"/>
    <label class="form-label" for="tbmobile">Mobile</label>
  </div>
  <div class="form-outline mb-4">
    <select name="ddlcourse" class="form-control" >
      <option selected>{{data.course}}</option>
      <option>---select---</option>
        {% for Course in courses %}
        <option>{{course.course_name}}</option>

        {% endfor %}
    </select>
    <label class="form-label">Course</label>
  </div>
  <div class="form-outline mb-4">
    <select name="ddlcity" class="form-control" >
      <option selected>{{data.city}}</option>
      <option>---select---</option>
        {% for City in cities %}
        <option>{{City.city_name}}</option>

        {% endfor %}
    </select>
    <label class="form-label">City</label>
  </div>
<div class="form-outline mb-4">
    <input type="submit" value="Update Student" class="btn btn-success" />
  </div>
</form>
</div>
{% endblock %}